<div class="home-learn">
    <div class="title-home-learn">
        <h1>The AICCRA Learning Zone</h1>
    </div>

    <div class="introduction-learn">
        <p class="bold">Resources that help put climate-smart agriculture into practice in Africa</p>
        <br>
        <p>The <span class="bold">AICCRA Learning Zone</span> is a convenient one-stop shop for analytical resources - case studies, 
            training guides, articles and videos - that empower farmers, policymakers and communities to make 
            informed decisions in agriculture that work for people, nature and planet.</p>
        <br>
        <p>
            These open-access resources are compiled to promote the broader and deeper adoption of climate 
            information services and climate-smart technologies and practices across Africa. It is a curated database 
            inspired by the approach used successfully by the CGIAR Research Program on Climate Change, 
            Agriculture and Food Security (CCAFS). Visit the <a href="https://ccafs.cgiar.org/data-management-support-pack" target="_blank">CCAFS Data Management Support Pack</a>.
        </p>
        <br>
        <p>
            The learning zone aims to help select the resource that is most appropriate to your needs using 
            a step-by-step filter in an easily accessible, single location for your convenience.
        </p>
        <br>
        <p>
            Collaboration across AICCRA teams means the tailored selection of readily available resources is 
            gathered to meet the needs of AICCRA partners in all the six AICCRA focus countries and across 
            the two regions where we work.
        </p>
    </div>

    <div class="search-support" *ngIf="terms == false ">
        <div class="filters-packs" *ngIf="resources == false">
            <div class="filter-title">
                <h2>Filters:</h2>
            </div>
            <div class="filters">
                <div class="card flex justify-content-center">
                    <h4>Thematic area</h4>
                    <p-dropdown [options]="thematicAreas" [(ngModel)]="selectThematicAreas" 
                        [style]="{'width':'250px'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                            optionLabel="name" [filter]="true" filterBy="name"
                                placeholder="Select a Thematic area" (onClick)="filterInformation()">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectThematicAreas" >
                                <div>{{ selectThematicAreas.name }}</div>
                            </div>
                        </ng-template>
                       
                    </p-dropdown>
                </div>
                <div class="card flex justify-content-center">
                    <h4>Target user</h4>
                    <p-dropdown [options]="targetUser" [(ngModel)]="selectTargetUser" [style]="{'width':'250px'}"
                     [virtualScroll]="true" [virtualScrollItemSize]="38" optionLabel="name" (onClick)="filterInformation()" [filter]="true" filterBy="name" 
                      placeholder="Select a Target user">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectTargetUser">
                                <div>{{ selectTargetUser.name }}</div>
                            </div>
                        </ng-template>
                       
                    </p-dropdown>
                </div>
                <div class="card flex justify-content-center">
                    <h4>Project phase</h4>
                    <p-dropdown [options]="projectPhase" [(ngModel)]="selectProjectUser" [virtualScroll]="true" [virtualScrollItemSize]="38" 
                    [style]="{'width':'250px'}"  optionLabel="name" [filter]="true" filterBy="name"  (onClick)="filterInformation()"
                    placeholder="Select a Project phase">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectProjectUser">
                                <div>{{ selectProjectUser.name }}</div>
                            </div>
                        </ng-template>
                       
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="tools" id="pdfSection">
            <div class="title-tools">
                <h2>Tools</h2>
                <button pButton label="Download" class="p-button-outlined" icon="pi pi-filter-pi-download" (click)="downloadAsPDF()" *ngIf="resources == true"></button>
            </div>

            <div class="table-tool">
                <div class="card">
                    <p-table [value]="products" 
                    #dt2
                    [paginator]="true"
                    [rows]="10"
                    [loading]="loading"
                    [(selection)]="selectedProducts" 
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    dataKey="code" 
                    [globalFilterFields]="['name','cate_name','role_name','staga_name','importance_level']"
                    [tableStyle]="{'min-width': '30rem'}">

                    <ng-template pTemplate="caption" *ngIf="resources == false">
                        <div class="flex">
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearFilters()" ></button>
                            <span class="p-input-icon-left ml-auto" style="float: right;">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                                placeholder="Search Tool" />
                            </span>
                        </div>
                        
                    </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th>Name support packages</th>
                                <th>Thematic</th>
                                <th>Target user</th>    
                                <th>Project phase</th>
                                <th>Relevance</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-expanded="expanded"  id="pdfSection">
                            
                            <tr>
                                
                                <td>
                                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                </td>
                                
                                <td>
                                    <button type="button" pButton pRipple [pRowToggler]="product" label="{{product.name}}" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    
                                </td>
                                <td>
                                    {{product.cate_name}}
                                </td>
                                <td>
                                    {{product.role_name}}
                                </td>
                                <td>
                                    {{product.staga_name}}
                                </td>
                                <td >
                                  <div class="import"  id="pdfSection">
                                    <div> {{product.importance_level}} </div>
                                    <div class="important numOne" *ngIf="product.importance_level == 'Very important'"></div>
                                    <div class="important numTwo" *ngIf="product.importance_level == 'Important'"></div>
                                    <div class="important numTre" *ngIf="product.importance_level == 'Useful'"></div>
                                    <div class="important numFour" *ngIf="product.importance_level == 'Optional'"></div>
                                  </div>
                                </td>
                            </tr>
                            
                        
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-product  id="pdfSection">
                            <tr>
                                <td colspan="6">
                                    <p>{{product.description}}</p>
                                    <p><span class="bold">Time: </span>{{product.estimated_time}}</p>
                                    <p><span class="bold">Strengths: </span>{{product.strengths}}</p>
                                    <p><span class="bold">Limitations: </span>{{product.limitations}}</p>
                                    <p><span class="bold">Target scale: </span>{{product.target_scale}}</p>
                                    <p><span class="bold">Participants: </span>{{product.participants}}</p>
                                    <p><span class="bold">Methods used: </span>{{product.methods}}</p>
                                    <p><span class="bold">Types of input data/information: </span>{{product.input_types}}</p>
                                    <p><span class="bold">Expected outputs: </span>{{product.expected_outputs}}</p>
                                    <p><span class="bold">Human resources: </span>{{product.human_resources}}</p>
                                    <p><span class="bold">Key reference person: </span>{{product.key_references}}</p>

                                    <div class="resources-list" *ngIf="resources == true">
                                        <div *ngFor="let resource of product.resources" class="resource">
                                            <div class="resource-name">
                                                <i class="pi pi-link"></i>
                                                <a href="{{resource.source}}" target="_blank" class="d-flex align-items-center">
                                                    {{resource.name}}
                                                </a>
                                            </div>
                                            <div class="resource-type">{{resource.type}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            
        </div>
        <div class="finish-tool" >
            <button pButton type="button" (click)="viewSelected()" *ngIf="resources == false" label="Access to related resources" class="p-button-warning" [disabled]="this.selectedProducts.length == 0"></button>
            <button pButton type="button" (click)="back()"  label="Back" class="p-button-warning" *ngIf="resources == true"></button>
        </div>
    </div>

    <div class="term-condition" *ngIf="terms">
        <div class="term-title">
            <h2>Terms and conditions</h2>
        </div>
        <div class="content-term">
            <p>
                To continue downloading your files, please first fill in your email and then some basic information. 
                This information will be used by AICCRA solely for impact assessment and CGIAR and Center level reporting purposes. 
                Filling it in will greatly help us to track the use of the portal and keep improving it. This portal provides data 
                to a very large community of users and improving its usability and efficiency is a key aspect we work on continuously. 
                However, you may click on Skip to download links directly.
            </p>
            <br>
            <span class="p-input-icon-center ml-auto" style="width: 100%; display: flex; justify-content: center;">
                
                <input pInputText type="text" style="width: 50%;" [(ngModel)]="email"  
                placeholder="Email" />
            </span>
            <br>

        </div>
        <div class="content-finish">
            <button pButton type="button" (click)=" back()"  label="Back" class="p-button" style="float: left;"></button>
            <button pButton type="button"  (click)="saveEmail()" label="Continue" class="p-button" style="float: right;" [disabled]="email == ''"></button>
            
        </div>
        
    </div>
   

</div>
