<div id="block-system-main" class="row">
  <!-- <div class="loading" style="display:none"></div> -->
  <div class="col col-8 container no-padding">
    <div class="row">
      <div class="col-x col-5 no-padding">
        <h2 class="headTitle">Who are you?</h2>
        <div class="componentsBlock1 grayBox">
          <div
            *ngIf="filterData.role"
            ngbDropdown
            class="d-inline-block col text-center selectionBlock"
            style="padding-bottom: 5px; padding-top: 5px"
            #roleDrop
          >
            <button
              class="btn btn-roles align-self-center col justify-content-between d-flex"
              [class.select-active]="filterData.role !== 'Who are you?'"
              id="filter-role"
              ngbDropdownToggle
            >
              <img src="../../assets/icon-1.png" alt="" /><span class="optionText">{{ filterData.role.name }}</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="filter-role">
              <button
                *ngFor="let role of roles"
                ngbDropdownItem
                [class.active]="role.id == filterData.role.id"
                class="btn type-role id-{{ role.id }} selectionComponent text-center"
                [class.inactive]="filterData.role && filterData.role.id !== role.id ? true : false"
                [@flipInX]="filterData.role && filterData.role.id === role.id ? 'active' : 'inactive'"
                (click)="selectFilter('role', role)"
              >
                <img class="image" src="./assets/roles/role-{{ parseName(role) }}.png" alt="{{ role.name }}" />
                <div class="name">{{ role.name }}</div>
              </button>
            </div>
          </div>

          <div
            *ngIf="filterData.role == null"
            class="btn-group btn-group-vertical btn-group-toggle"
            ngbRadioGroup
            name="radioBasic"
            
          >
            <label
              ngbButtonLabel
              class="btn type-role id-{{ role.id }} selectionComponent text-center"
              [class.inactive]="filterData.role && filterData.role.id !== role.id ? true : false"
              [@flipInX]="filterData.role && filterData.role.id === role.id ? 'active' : 'inactive'"
              *ngFor="let role of roles"
            >
              <input ngbButton type="radio" [value]="role" (change)="validateData()" />
              <img class="image" src="./assets/roles/role-{{ parseName(role) }}.png" alt="{{ role.name }}" />
              <div class="name">{{ role.name }}</div>
            </label>
          </div>
        </div>
      </div>

      <div class="col-x col-7 no-padding">
        <h2 class="headTitle">Where are you?</h2>
        <div class="componentsBlock grayBox">
          <div
            *ngIf="filterData.stage"
            ngbDropdown
            style="padding-bottom: 5px; padding-top: 5px"
            class="d-inline-block col text-center selectionBlock"
            #stageDrop
          >
            <button
              class="btn btn-stages align-self-center col justify-content-between d-flex"
              [class.select-active]="filterData.stage !== 'Where are you?'"
              id="filter-role"
              ngbDropdownToggle
            >
              <img src="../../assets/icon-2.png" alt="" /><span class="optionText">{{ filterData.stage.name }}</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="filter-stage">
              <button
                ngbDropdownItem
                class="btn type-stage id-{{ stage.id }} selectionComponent text-left"
                [class.active]="stage.id == filterData.stage.id"
                [class.inactive]="filterData.stage && filterData.stage.id !== stage.id ? true : false"
                [@flipInX]="filterData.stage && filterData.stage.id === stage.id ? 'active' : 'inactive'"
                (click)="selectFilter('stage', stage)"
                *ngFor="let stage of stages"
              >
                <span class="index">{{ stage.id }}</span>
                <span class="name">{{ stage.name }}</span> <br />
                <span class="description"> {{ stage.description }}</span>
              </button>
            </div>
          </div>

          <div
            *ngIf="filterData.stage == null"
            class="btn-group btn-group-vertical btn-group-toggle"
            ngbRadioGroup
            name="radioBasic"
            
          >
            <label
              ngbButtonLabel
              class="btn type-stage id-{{ stage.id }} selectionComponent text-left"
              [class.inactive]="filterData.stage && filterData.stage.id !== stage.id ? true : false"
              [@flipInX]="filterData.stage && filterData.stage.id === stage.id ? 'active' : 'inactive'"
              *ngFor="let stage of stages"
            >
              <span class="index">{{ stage.id }}</span>
              <span class="name">{{ stage.name }}</span> <br />
              <span class="description"> {{ stage.description }}</span>
              <input ngbButton type="radio" [value]="stage" (change)="validateData()" />
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- data list -->
    
  </div>

  <div class="col col-4">
    <h2 class="headTitle">What</h2>
    <div class="componentsBlock">
      <ul class="grayBox">
        <div
          class="btn-group btn-group-vertical btn-group-toggle"
          style="display: flex"
          ngbRadioGroup
          name="radioBasic"
          [(ngModel)]="filterData.category"
        >
          <label
            ngbButtonLabel
            class="btn type-category id-{{ category.id }} selectionComponent text-left"
            [class.inactive]="filterData.category && filterData.category.id !== category.id ? true : false"
            [@flipInX]="filterData.category && filterData.category.id === category.id ? 'active' : 'inactive'"
            *ngFor="let category of categories"
          >
            <span class="index">{{ category.id - 12 }}</span>
            <span class="name">{{ category.name }}</span> <br />
            <span class="description"> {{ category.description }}</span>
            <input ngbButton type="radio" [value]="category" (change)="validateData()" />
          </label>
        </div>
      </ul>
    </div>
  </div>

  <ngx-spinner></ngx-spinner>
</div>
