* {
    margin: 0;
    box-sizing: border-box;
}

.menu-side{
    height: 100%;
    width: 370px;
    background-color: #059899;
    display: grid;
    grid-template-rows: 35% 65%;
}

.logo-container {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.icon-searching-files{
    content: url('../../../../assets/svg/file_searching.svg');
    width: 70%;
}

.aiccra-learning-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
}

.line{
    width: 100%;
    height: 0.5px;
    background-color: #fff;
    margin: 0.5em 0;
    
}

.submission-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
}

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
}

.manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
}
button{
    width: 240px;
    background-color: #F2971F;
    
}


:host ::ng-deep .button-menu:hover{
    background-color: #F2971F;
    color: #ffff;
    transition: 0.5s;
}
