<div class="menu-side">
    <div class="top">
        <div class="logo-container">
            <!-- <img src="./../../../assets/images/AICCRA-logo.png" alt=""> -->
            <i class="icon-searching-files"></i>
        </div>
    </div>
    
    <div class="actions">
        <div class="aiccra-learning-zone">
            <button pButton  label="AICCRA Learning Zone" icon="pi pi-home" class="button-menu"  [routerLink]="['/aiccrasp/home/learning-zone']"></button>
            
        </div>
        <div class="submission-form">
            <button pButton  label="Submission Form" icon="pi pi-file" class="button-menu" [routerLink]="['/aiccrasp/home/submission-form']"></button>
                </div>
        <div class="faq">
            <button pButton  label="FAQ" icon="pi pi-question-circle" class="button-menu"  [routerLink]="['/aiccrasp/home/FAQ']"></button>
            
        </div>
        <div class="manage">
            <button pButton  label="Manage Tool" icon="pi pi-user-edit" class="button-menu" [routerLink]="['/aiccrasp/home/manage-tool']"></button>
        </div>
    </div>
   
    
</div>
