

.local-container {
    width: 100%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }
  div {
    display: block;
  }

