.learning-zone{
    max-width: 1620px; 
    display: grid;
    grid-template-columns: 380px auto;
    grid-template-rows: 99.7vh;
    margin: 0 auto;
    border: 1px solid black;
}

.results-container{
    overflow-y: scroll;
}
