<div class="form-data">
    <div class="form-title">
        <h1>
            AICCRA Tools Support Pack
        </h1>
    </div>

    <div class="info-form">
        <div class="messages-info-form">
            <div class="line">
                <i class="pi pi-info-circle icon"></i>
            </div>
                
            <p style="margin-top: -30px;">
                Please fill in the fields below to submit a tool for consideration. The tool should be designed 
                to help those in the fields of climate change and agriculture development to design, target, 
                implement, monitor, evaluate and/or scale activities and programmes. If we need more 
                information regarding your submission we will contact you. Submitted tools will be
                 evaluated for inclusion based on relevance and previous documentation.
            </p>
        </div>
    </div>

    <div class="citeria-form">
        <div class="title-criteria">
            <h3>Before submitting your tool</h3>
        </div>
        <div class="content">
            <h4>Please confirm that it complies with the following criteria:</h4>

            <ul>
                <li>The tool is fully completed and operational (not demo)</li>
                <li>The tool has been applied and its use has been documented</li>
                <li>Use cases and additional resources e.g manuals; guidelines; peer-reviewed papers are publicly available</li>
                <li>There is a Key reference person able to provide technical support/guidance</li>
            </ul>

            <div class="confirm-criteria">
                <button pButton type="button" label="Access to related resources"></button>
            </div>
        </div>
    </div>
    <div class="content-form" *ngIf="step1 == true">
        <div class="who-request">
            <div class="title-sub">
                <h3>Who is requests?</h3>
            </div>
            <div class="content-form-who content-form-g">
                <div class="flex flex-column gap-2 inputs">
                    <label htmlFor="name" class="bold">Full Name</label>
                    <input pInputText id="username" aria-describedby="username-help"  [(ngModel)] ="requestTool.name"/>
                   
                </div>
                <div class="flex flex-column gap-2 inputs">
                    <label htmlFor="email" class="bold">Email</label>
                    <input pInputText id="username" aria-describedby="username-help"  [(ngModel)] ="requestTool.email"/>
                   
                </div>
            </div>
        </div>

        <div class="basic-info">
            <div class="title-sub">
                <h3>Basic Information</h3>
            </div>
            <div class="content-form-basic content-form-g">
                <div class="flex flex-column gap-2 inputs inputs-basic">
                    <label htmlFor="name" class="bold">Tool name</label>
                    <input pInputText id="username" aria-describedby="username-help"  [(ngModel)] ="requestTool.toolName"/>
                   
                </div>
                <div class="flex flex-column gap-2 inputs inputs-basic">
                    <label htmlFor="email" class="bold">Description</label>
                    <textarea rows="5"  pInputTextarea [(ngModel)] ="requestTool.description"></textarea>
                   
                </div>

                <div class="two-content">
                    <div class="flex flex-column gap-2 inputs input-two ">
                        <label htmlFor="name" class="bold">Link</label>
                        <input pInputText id="username" aria-describedby="username-help"  [(ngModel)] ="requestTool.link"/>
                    
                    </div>
                    <div class="flex flex-column gap-2 inputs input-two">
                        <label htmlFor="email" class="bold">Estimated time to implement (excl. training)</label>
                        <input pInputText id="username" aria-describedby="username-help"  [(ngModel)] ="requestTool.estimatedTime"/>
                    
                    </div>
                </div>
                <div class="two-content">
                    <div style="width: 50%;">
                        <div><label htmlFor="ask" class="bold">Does the tool integrate gender?</label></div>
                        <div class="flex flex-wrap gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="Yes" value="Yes" [(ngModel)] ="requestTool.gender"  inputId="Yes"></p-radioButton>
                                <label for="ingredient1" class="ml-2">Yes</label>
                            </div>
                            
                            <div class="flex align-items-center">
                                <p-radioButton name="No" value="No"  [(ngModel)] ="requestTool.gender"inputId="No"></p-radioButton>
                                <label for="ingredient2" class="ml-2">No</label>
                            </div>
                        </div>
                    </div>
                    <div style="width: 50%;">
                        <div><label htmlFor="ask" class="bold">Can this tool be tested online?</label></div>
                        <div class="flex flex-wrap gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="Yess" value="Yes" [(ngModel)] ="requestTool.test"  inputId="Yess"></p-radioButton>
                                <label for="ingredient3" class="ml-2">Yes</label>
                            </div>
                            
                            <div class="flex align-items-center">
                                <p-radioButton name="Noo" value="No"  [(ngModel)] ="requestTool.test" inputId="Noo"></p-radioButton>
                                <label for="ingredient4" class="ml-2">No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="two-content">
                    <div class="flex flex-column gap-2 inputs input-two ">
                        <label htmlFor="name" class="bold">Target Scale</label>
                        <textarea rows="5"  pInputTextarea [(ngModel)] ="requestTool.scale"></textarea>
                    
                    </div>
                    <div class="flex flex-column gap-2 inputs input-two">
                        <label htmlFor="email" class="bold">Who participates?</label>
                        <textarea rows="5"  pInputTextarea [(ngModel)] ="requestTool.participates"></textarea>
                    
                    </div>
                </div>
                <div class="two-content">
                    <div class="flex flex-column gap-2 inputs input-two ">
                        <label htmlFor="name" class="bold">Methods used</label>
                        <textarea rows="5"  pInputTextarea [(ngModel)] ="requestTool.method"></textarea>
                    
                    </div>
                    <div class="flex flex-column gap-2 inputs input-two">
                        <label htmlFor="email" class="bold">Types of input data/information</label>
                        <textarea rows="5"  pInputTextarea [(ngModel)] ="requestTool.types"></textarea>
                    
                    </div>
                </div>
                <div class="flex flex-column gap-2 inputs inputs-basic">
                    <label htmlFor="name" class="bold">Limitations</label>
                    <textarea rows="5"  pInputTextarea [(ngModel)] ="requestTool.limitations"></textarea>
                   
                </div>
                <div class="flex flex-column gap-2 inputs inputs-basic">
                    <label htmlFor="name" class="bold">Strengths</label>
                    <textarea rows="5"  pInputTextarea [(ngModel)] ="requestTool.strngths"></textarea>
                   
                </div>
                <div class="two-content">
                    <div class="flex flex-column gap-2 inputs input-two ">
                        <label htmlFor="name" class="bold">Expected output(s)</label>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)] ="requestTool.expected"></textarea>
                    
                    </div>
                    <div class="flex flex-column gap-2 inputs input-two">
                        <label htmlFor="email" class="bold">Required human resources</label>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)] ="requestTool.required"></textarea>
                    
                    </div>
                </div>
                <div class="two-content">
                    <div class="flex flex-column gap-2 inputs input-two ">
                        <label htmlFor="name" class="bold">Key reference person(s)</label>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)] ="requestTool.keyPerson"></textarea>
                    
                    </div>
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Thematic area</h4>
                        <p-dropdown [options]="thematicAreas" [(ngModel)] ="requestTool.thematic" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.thematic" >
                                    <div>{{ requestTool.thematic.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-form" *ngIf="step2">
        <div class="who-request">
            <div class="title-sub-user">
                <h3>User Profile and Project Phase relevance</h3>
            </div>
            <div class="content-form-user content-form-g">
                <div class="title-user-con">
                    <h4>Researcher</h4>
                </div>
                <div class="content-form-u">
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Design</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.researcher_desing" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.researcher_desing" >
                                    <div>{{ requestTool.researcher_desing.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Implementation</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.researcher_implementation" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.researcher_implementation" >
                                    <div>{{ requestTool.researcher_implementation.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Monitoring and evaluations</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.researcher_monitoring" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.researcher_monitoring" >
                                    <div>{{ requestTool.researcher_monitoring.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="content-form-user content-form-g">
                <div class="title-user-con">
                    <h4>Technical staff</h4>
                </div>
                <div class="content-form-u">
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Design</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.technical_desing" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.technical_desing" >
                                    <div>{{ requestTool.technical_desing.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Implementation</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.technical_implementation" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.technical_implementation" >
                                    <div>{{ requestTool.technical_implementation.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Monitoring and evaluations</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.technical_monitoring" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.technical_monitoring" >
                                    <div>{{ requestTool.technical_monitoring.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="content-form-user content-form-g">
                <div class="title-user-con">
                    <h4>Academia</h4>
                </div>
                <div class="content-form-u">
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Design</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.academia_desing" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.academia_desing" >
                                    <div>{{ requestTool.academia_desing.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Implementation</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.academia_implementation" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.academia_implementation" >
                                    <div>{{ requestTool.academia_implementation.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                    <div class="card flex justify-content-center inputs input-two">
                        <h4>Monitoring and evaluations</h4>
                        <p-dropdown [options]="optionsImportance" [(ngModel)]="requestTool.academia_monitoring" 
                            [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                optionLabel="name" [filter]="true" filterBy="name"
                                    placeholder="Select a Thematic area" >
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="requestTool.academia_monitoring" >
                                    <div>{{ requestTool.academia_monitoring.name }}</div>
                                </div>
                            </ng-template>
                           
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="basic-info" >
            <div class="title-sub">
                <h3>Resources</h3>
            </div>
            <div class="content-form-user content-form-g">
                
                    <div class="flex flex-column gap-2 inputs inputs-basic">
                        <label htmlFor="name" class="bold">Resource title</label>
                        <input pInputText id="username" aria-describedby="username-help"  [(ngModel)]="requestTool.resouce_title"/>
                       
                    </div>
                    <div class="two-content">
                        <div class="flex flex-column gap-2 inputs input-two ">
                            <label htmlFor="name" class="bold">Link</label>
                            <input pInputText id="username" aria-describedby="username-help"  [(ngModel)]="requestTool.resouce_link"/>
                        
                        </div>
                        <div class="card flex justify-content-center inputs input-two">
                            <h4>Category</h4>
                            <p-dropdown [options]="thematicAreas" [(ngModel)]="requestTool.resouce_category" 
                                [style]="{'width':'100%'}" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                    optionLabel="name" [filter]="true" filterBy="name"
                                        placeholder="Select a Thematic area" >
                                <ng-template pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2" *ngIf="requestTool.resouce_category" >
                                        <div>{{ requestTool.resouce_category.name }}</div>
                                    </div>
                                </ng-template>
                               
                            </p-dropdown>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="steps">
        <div class="step-1">
            <button pButton label="1" rounded="true" style="background-color: #F2971F; border-radius: 30px;" *ngIf="step1 == true"></button>
            <button pButton label="1" rounded="true" style="background-color: #ffebd2; border-radius: 30px; color: black;" *ngIf="step1 == false" (click)="step2 = false ; step1 = true"></button>
        </div>
        <div class="step-2">
            <button pButton label="2" rounded="true" style="background-color: #ffebd2; border-radius: 30px; color: black;" *ngIf="step2 == false" (click)="step2 = true ; step1 = false"></button>
            <button pButton label="2" rounded="true" style="background-color: #F2971F; border-radius: 30px;" *ngIf="step2 == true" (click)="step2 = true ; step1 = false"></button>
        </div>
    </div>

    <div *ngIf="step2" style="display: flex; align-items: center; justify-content: center;">
        <button pButton type="button" label="Submit" style="background-color: #F2971F; border-radius: 30px; width: 50%; margin: 20px;" (click)=" postRequest()"></button>
    </div>
</div>
