.form-data{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-title{ 
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.messages-info-form{
    margin-top: 20px;
    padding: 1em 1em;
    margin: 2em 4em;
    background-color: #CCE5FF;
}

.messages-info-form .line {
    position: relative;
    left: -35px;
    top: -35px;
    width: 40px;
    height: 40px;
   
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: #004085;
    border-radius: 50px;
}

.icon{
    font-size: 20px;
    color: white;
}

.citeria-form{
    margin: 1em 4em;
    
}

.title-criteria{
    padding: 1em 1em;
    background-color: #F7F7F7;
}

.content{
    border: 0.5px solid #E5E5E5;
    padding: 1em 2em;
}

.confirm-criteria{
    margin: 0.5em 2em;
    display: flex;
    justify-content: center;
}