<div class="form-data">
    <div class="form-title">
        <h1>
            AICCRA Tools Support Pack
        </h1>
    </div>

    <div class="info-form">
        <div class="messages-info-form">
            <div class="line">
                <i class="pi pi-info-circle icon"></i>
            </div>
                
            <p style="margin-top: -30px;">
                Please fill in the fields below to submit a tool for consideration. The tool should be designed 
                to help those in the fields of climate change and agriculture development to design, target, 
                implement, monitor, evaluate and/or scale activities and programmes. If we need more 
                information regarding your submission we will contact you. Submitted tools will be
                 evaluated for inclusion based on relevance and previous documentation.
            </p>
        </div>
    </div>

    <div class="citeria-form">
        <div class="title-criteria">
            <h3>Before submitting your tool</h3>
        </div>
        <div class="content">
            <h4>Please confirm that it complies with the following criteria:</h4>

            <ul>
                <li>The tool is fully completed and operational (not demo)</li>
                <li>The tool has been applied and its use has been documented</li>
                <li>Use cases and additional resources e.g manuals; guidelines; peer-reviewed papers are publicly available</li>
                <li>There is a Key reference person able to provide technical support/guidance</li>
            </ul>

            <div class="confirm-criteria">
                <button pButton type="button" label="Access to related resources"></button>
            </div>
        </div>
    </div>
</div>
