<div class="admin-module">
    <div class="title-admin">
        <h1>
            AICCRA Request Tool
        </h1>
    </div>

    <div class="table-tool">
        <div class="card">
            <p-table [value]="products" 
            #dt2
            [paginator]="true"
            [rows]="10"
            [loading]="loading"
            [(selection)]="selectedProducts" 
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            dataKey="id" 
            [globalFilterFields]="['name','id']"
            [tableStyle]="{'min-width': '30rem'}">

            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"  ></button>
                    <span class="p-input-icon-left ml-auto" style="float: right;">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                        placeholder="Search Tool" />
                    </span>
                </div>
                
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Name Tool</th>
                        <th colspan="3">Actions</th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-expanded="expanded"  id="pdfSection">
                    
                    <tr>
                        <td>
                            {{product.id}}
                         </td>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="product" label="{{product.name}}" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            
                        </td>
                        <td>
                            <button pButton type="button" label="Edit" style="background-color: #2622ff; border-radius: 30px; width: 80%; margin: 20px;" ></button>
                        </td>
                        <td>
                            <button pButton type="button" label="Accepted" style="background-color: #019875; border-radius: 30px; width: 80%; margin: 20px;" ></button>
                        </td>
                        <td>
                            <button pButton type="button" label="Dismiss" style="background-color: #CD0000; border-radius: 30px; width: 80%; margin: 20px;" ></button>
                        </td>
                        
                    </tr>
                    
                
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product  id="pdfSection">
                    <tr>
                        <td colspan="6">
                            <p>{{product.description}}</p>
                            <p><span class="bold">Time: </span>{{product.estimatedTime}}</p>
                            <p><span class="bold">Strengths: </span>{{product.strngths}}</p>
                            <p><span class="bold">Limitations: </span>{{product.limitations}}</p>
                            <p><span class="bold">Target scale: </span>{{product.scale}}</p>
                            <p><span class="bold">Participants: </span>{{product.participates}}</p>
                            <p><span class="bold">Methods used: </span>{{product.method}}</p>
                            <p><span class="bold">Types of input data/information: </span>{{product.types}}</p>
                            <p><span class="bold">Expected outputs: </span>{{product.expected}}</p>
                           
                            <p><span class="bold">Key reference person: </span>{{product.keyPerson}}</p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
